/*правило для элементов main*/
main {
    margin-left: 1px;
    margin-right: 1px;
    background-color: rgb(63, 57, 57);
    color:whitesmoke;
    font-size: 20px;
    border-radius: 100px;
    border: 4px solid rgb(6, 205, 152);

    min-width: 320px;
    
}
/*правило для элементов относящихся к классу a_footer*/
.a_footer {
    display: block;
    text-align: center;
    margin: auto;
    
}
h1 {
    text-align: center;
    margin: auto;
}
h3 {
    text-align: center;
    margin:auto;

}
/*подключаем картинку для шапки*/
header {
    position: relative;
    background-size: 100%;
    width: 250px;
    height: 220px;
    border-radius: 100px; /* скругление углов блока */
    padding: 10px; /* внутренние поля */
    margin: 10px auto; /* внешние отступы */
    color: rgb(236, 16, 16);
    text-align:center;
    border: 2px solid rgb(49, 50, 49);
    color: lime;
    background: linear-gradient(-45deg, #1316c4, #000000);
    text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
    

    min-width: 220px;

    max-height: 250px;

    display: flex;
    flex-wrap: wrap;
    align-items:  flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}
.head{
    position: relative;
        border: 2px solid rgb(6, 205, 152);

        line-height: 80px;/*Высота строки +  верт. центрирования текста*/
        font-size: 30px;
        background: rgb(9, 37, 65);
        color: white;
        width: 310px; /*Фиксируем ширину блока*/
        margin-right: 10px;
        text-align: center; /*Центрируем текст по горизонтали*/
        border-radius: 50px; /* скругление углов блока */
        background: black;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px lime, 0 0 35px lime, 0 0 40px lime, 0 0 50px lime, 0 0 75px lime;

}
.otz{
    width: 75%;
    border: 2px solid rgb(6, 205, 152);
    background-color: rgb(5, 34, 52);
    border-radius: 100px; /* скругление углов блока */
    padding: 10px; /* внутренние поля */
    margin: 0 auto; /* внешние отступы */
    margin-top: 150px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 24px;
    background: rgb(13, 2, 39);
    text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px lime, 0 0 35px lime, 0 0 40px lime, 0 0 50px lime, 0 0 75px lime; 
    max-width: 960px;
    min-width: 200px;

    display: flex;
    flex-wrap: wrap;
    align-items:  flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}
.container {  
    position: relative; 
    width: 60%;
    border: 2px solid rgb(6, 205, 152);
    background-color: rgb(5, 34, 52);
    border-radius: 50px; /* скругление углов блока */
    padding: 16px; /* внутренние поля */
    margin: 16px auto; /* внешние отступы */
    max-width: 960px;
    min-width: 200px;

    display: flex;
    flex-wrap: wrap;
    align-items:  flex-end;
    justify-content: space-between;
    box-sizing: border-box;
}
.container img {
    float: left; /* обтекание слева */
    margin-right: 20px; /* пространство между аватаркой и абзацем */
    border-radius: 100%; /* скругляет аватарку */
    width: 90px;
}

.container span {
    font-size: 18px;
    margin-right: 15px;
}

.wrap {
    
 margin: 0 auto;/*центрируем ее*/
 text-align: center;
 height: 200px;/*Задаем высоту обертки*/
 max-width: 1300px;
 min-width: 300px;

margin-bottom: 5rem;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
box-sizing: border-box;

}

.bblock {
        position: relative;
        border: 2px solid rgb(6, 205, 152);

        line-height: 80px;/*Высота строки +  верт. центрирования текста*/
        font-size: 30px;
        background: rgb(9, 37, 65);
        color: white;
        width: 310px; /*Фиксируем ширину блока*/
        margin-right: 10px;
        text-align: center; /*Центрируем текст по горизонтали*/
        border-radius: 50px; /* скругление углов блока */
        background: black;
        text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px lime, 0 0 35px lime, 0 0 40px lime, 0 0 50px lime, 0 0 75px lime;

    }
.wrap :last-child {
        margin-right: 0px;/*Убираем поле последнего div-а*/
}
</style>